<h1>Listes des voitures</h1>
<table border="1">
    <tr>
        <td>Serie</td>
        <td>Date Mise en Marche</td>
        <td>Modele</td>
    </tr>
    {% for v in listeVoitures %}
    <tr>
        <td>{{ v.serie }}</td>
        <td>{{ v.dateMiseEnMarche |date}}</td>
        <td>{{ v.modele }}</td>
        <td><a href="{{ path("voitureDelete", {'id':v.id}) }}">Supprimer</a></td>
        <td><a href="{{ path("voitureUpdate",{'id':v.id}) }}">Mettre à jour</a></td>
    </tr>
    {% endfor %}
</table>
